@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin:0;
    padding:0;
    background-color: #121212;
    color: whitesmoke;
    font-family: 'Poppins', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

*{
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    background-color: #22222289;
    border-radius: 20px;
    border: 1px solid rgba(245, 245, 245, 0.425);
    width: 300px;
    height: 360px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5vh;
}

.save h4 {
    border: 2px solid whitesmoke;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5vw;
    padding: 0.3vw 1vw;
    font-weight: 400;
    font-size: small;
}

.save h4:hover {
    background-color: whitesmoke;
    color: #121212;
    cursor: pointer;
}

.save span {
    margin-top: 5px;
}

.mid {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    gap: 0.5vw;
}

.mid h2,
.mid h3,
.mid h4 {
    margin: 0;
}

.brand {
    display: flex;
    align-items: baseline;
    gap: 1vw;
}

.brand h3 {
    font-weight: 400;
    font-size: 15px;
}

.mid h2 {
    font-weight: 500;
    font-size: 20px;
}

#date {
    font-weight: 300;
    font-size: 12px;
    
}

.tags {
    display: flex;
    justify-content: center;
    gap: 1vw;
}

.tags h4 {
    background-color: #975bf1;
    font-weight: 300;
    /* border: 2px solid whitesmoke; */
    border-radius: 10px;
    padding: 0vw 1vw;
}

img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid rgb(245, 245, 245);
}

.bottom {
    display: flex;
    justify-content: space-between;
    border-top: 1.5px solid rgba(245, 245, 245, 0.425);
    align-items: baseline;
    position: relative;
    top: 80px;
}

.bottom h4 {
    font-weight: 500;
}

.button {
    background-color: #ff6b6b;
    border: none;
    border-radius: 10px;
    color: whitesmoke;
    padding: 0.5vw 1vw;
    cursor: pointer;
}

.button:hover {
    background-color: transparent;
    border: 2px solid #ff6b6b;
}

